body {
  background-image: url('https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/166DBB6CF929A3C6C9E9520ECE9879D4CF5B91A9C19F6985C9EF00088A08A8A5');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0; 
}

.random_bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

b {
  font-family: arial;
  font-size: 50pt;
  color: white;
  text-shadow: 0px 2px 5px red;
}

.jake-logo {
  position: relative;
  height: 200px;
  width: 350px;
  box-shadow: none;
  border-radius: 0px;
  left: 75px;
  margin: 20px 0 20px 0;
}

.jake {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  margin: 0 20px auto;
  margin-bottom: 32px;
}

.jake-season {
  font-family: arial;
  font-size: xx-large;
  background-color: red;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  margin-bottom: 50px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited {
  color: white;
}

p {
  font-family: arial;
  color: white;
  text-shadow: 0px 2px 5px red;
}

h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
  text-shadow: 0px 2px 5px red;
}

.disneyplus {
  width: 150px;
  height: 100px;
  position: relative;
  bottom: -25px;
  box-shadow: none;
}

@media screen and (min-width: 300px) {
  .jake-logo {
    height: 120px;
    width: 200px;
    left: 20px;
  }

  b {
    font-size: 40pt;
  }
}

@media screen and (min-width: 500px) {
  .jake-logo {
    height: 180px;
    width: 325px;
    left: 40px;
  }
}

@media screen and (min-width: 800px) {
  .jake-logo {
    height: 300px;
    width: 500px;
    left: 65px;
  }
}

@media screen and (min-width: 1000px) {
  .jake-logo {
    height: 400px;
    width: 675px;
    left: 90px;
  }

  h2 {
    font-size: 50pt;
  }
}