body {
  margin: 0;
}

b {
  font-family: arial;
  font-size: 50pt;
  color: white;
  text-shadow: 0px 2px 5px white;
}

.once-upon-a-studio-logo {
  position: relative;
  height: 200px;
  width: 350px;
}

.studio {
  font-family: arial;
  font-size: xx-large;
  background-color: white;
  box-shadow: 0px 2px 5px white;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  margin: 0 20px auto;
  margin-bottom: 32px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited {
  color: white;
}

p {
  font-family: arial;
  color: white;
  text-shadow: 0px 2px 5px white;
}

iframe {
  border-radius: 25px;
  box-shadow: 0px 10px 15px white;
  height: 250px;
  width: 450px;
}

h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
  text-shadow: 0px 2px 5px white;
  margin: 0 20px auto;
}

h3 {
  font-family: arial;
  font-size: 20pt;
  color: white;
  text-align: center;
  text-shadow: 0px 2px 5px white;
  margin: 0 20px auto;
}

.overview {
  margin-left: 25%;
  margin-right: 25%;
  text-shadow: 0px 2px 5px white;
  text-align: center
}

.rating-areas {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.original-rating-area, .proposed-rating-area {
  height: 150px;
  margin: 0 auto;
}

.disneyplus {
  width: 150px;
  position: relative;
  bottom: -22px
}

.g-rating {
  position: relative;
  left: 45px;
  width: 225px;
}

.pg-rating {
  position: relative;
  bottom: 55px;
  right: 7px;
  width: 250px;
  height: 250px;
  filter: invert(1);
  object-fit: cover;
}

@media screen and (min-width: 300px) {
  .peter-pan-logo {
    height: 175px;
    width: 300px;
  }

  .pg-rating {
    width: 250px;
    left: 20px;
  }

  iframe {
    height: 155px;
    width: 280px;
  }
}

@media screen and (min-width: 350px) {
  iframe {
    height: 190px;
    width: 340px;
  }
}

@media screen and (min-width: 500px) {
  iframe {
    height: 250px;
    width: 450px;
  }
}

@media screen and (min-width: 700px) {
  .rating-areas {
    flex-direction: row;
  }
}

@media screen and (min-width: 800px) {
  iframe {
    height: 420px;
    width: 750px;
  }
}

@media screen and (min-width: 1000px) {
  .peter-pan-logo {
    position: relative;
    height: 300px;
    width: 500px;
  }

  iframe {
    height: 500px;
    width: 900px;
  }
}