html, body, .dropdown .dropbtn {
  margin: 0;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar a, .dropdown .dropbtn, 
.navbar a:hover, 
.dropdown:hover .dropbtn, 
.dropdown-content a,
p, h1, h2, h3, li, ul, button,
button a:link,
button a:visited,
a:visited, p.overview,
a.reference:link,
a.reference:visited {
  color: white; 
}

.navbar a, .dropdown .dropbtn, 
.navbar a:hover, 
.dropdown:hover .dropbtn, 
.dropdown-content a,
p, li, ul, button,
button a:link,
button a:visited,
a:visited, p.overview,
a.reference:link,
a.reference:visited {
  font-family: avenir-medium;   
}

.navbar a, .dropdown,
.dropdown-content a {
  float: left;
}

.dropdown-content a, 
.dropdown:hover .dropdown-content,
.tarzan-and-jane-logo,
video, .g-rating,
.pg-rating {
  display: block;
}

.navbar, .dropdown {
  overflow: hidden;  
}

.navbar {
  background-color: #333;
  width: 100%;
}

.navbar a, .dropdown .dropbtn {
  font-size: 16px;  
}

.navbar a, 
.dropdown .dropbtn {
  padding: 14px 16px;
}

.navbar a, h1, h2, h3, 
p, p.overview, button {
  text-align: center;
}

.navbar a, 
.dropdown-content a,
a:link {
  text-decoration: none;
}

.dropdown .dropbtn,
.tarzan-and-jane {
  border: none;  
}

.dropdown .dropbtn { 
  outline: none;
  background-color: inherit;
}

.navbar a:hover, 
.dropdown:hover .dropbtn {
  background-color: green;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, 
.dropdown-content a:visited {
  color: black;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.tarzan-and-jane-logo,
video,
.rating-areas,
.original-rating-area, 
.proposed-rating-area {
  margin: auto;
}

p.overview {
  margin-left: 10%;
  margin-right: 10%;  
}

ul, li, p, 
h2, h3, 
button.tarzan-and-jane {
  margin: 0 20px auto;
}

h1, h2, h3, 
p.overview, 
p, ul, li,
button.contentHider,
.tarzan-and-jane {
  text-shadow: 0px 2px 5px green;  
}

h1, h2, h3 {
  font-family: avenir-heavy;
}

h1, p.overview {
  margin-bottom: 30pt;  
}

h1 {
  font-size: 30pt;
}

h2 {
  font-size: 25pt;
}

h3 {
  font-size: 20pt;
  margin-bottom: 0;
}

h3.age {
  margin-top: 0;
  margin-bottom: 20pt;  
}

.random_bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tarzan-and-jane-logo {
  width: 350px;
  padding: 30px 0 auto;
}

button.tarzan-and-jane {
  font-size: 25pt;
  background-color: green;
  border-radius: 10px;
  margin-bottom: 32px;
}

a.reference, 
a:hover, 
a:active {
  text-decoration: underline;
}

p, h2.review {
  margin-bottom: 50px;
}

video, 
.tarzan-and-jane-logo {
  height: 200px;  
}

video {
  border-radius: 25px;
  box-shadow: 0px 10px 15px green;
  width: 360px;
}

h1 {
  font-size: 30pt;
  margin: 10px 20px 40px 20px;
}

h2 {
  font-size: 25pt;
  margin: 10px 20px 20px 20px;
}

h3 {
  font-size: 20pt;
}

.rating-areas {
  display: flex;
  flex-direction: column;
}

.original-rating-area, 
.proposed-rating-area {
  height: 150px;
}

.disneyplus,
.g-rating,
.pg-rating {
  position: relative;  
}

.disneyplus {
  width: 150px;
  bottom: -22px
}

.g-rating {
  left: 45px;
  width: 225px;
}

.pg-rating {
  bottom: 55px;
  right: 7px;
  width: 250px;
  height: 250px;
  filter: invert(1);
  object-fit: cover;
}

@media screen and (min-width: 300px) {
  .tarzan-and-jane-logo {
    height: 175px;
    width: 300px;
  }

  .pg-rating {
    width: 250px;
    left: 20px;
  }

  video {
    height: 155px;
    width: 280px;
  }
}

@media screen and (min-width: 350px) {
  video {
    height: 190px;
    width: 340px;
  }
}

@media screen and (min-width: 500px) {
  video {
    height: 250px;
    width: 450px;
  }
}

@media screen and (min-width: 700px) {
  .rating-areas {
    flex-direction: row;
  }
}

@media screen and (min-width: 800px) {
  video {
    height: 420px;
    width: 750px;
  }

  p.overview {
    margin-left: 25%;
    margin-right: 25%;    
  }  
}

@media screen and (min-width: 1000px) {
  .tarzan-and-jane-logo {
    height: 300px;
    width: 500px;
  }

  video {
    height: 500px;
    width: 890px;
  }
}