body {
  background-image: url('https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/914B2AA9C6F4BB537F9A51103F23C28810E93E70AE61FE7E7AB7AF03ED694640');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

b {
  font-family: arial;
  font-size: 50pt;
  color: white;
  text-shadow: 0px 2px 5px brown;
}

.disney {
  position: relative;
  top: -10px;
  width: 200px;
  margin: 0 auto;
}

.tarzan-logo {
  position: relative;
  top: -50px;
  height: 200px;
  width: 350px;
}

.tarzan {
  font-family: arial;
  font-size: xx-large;
  background-color: brown;
  box-shadow: 0px 2px 5px brown;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  margin: 0 20px auto;
  margin-bottom: 32px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited {
  color: white;
}

p {
  font-family: arial;
  color: white;
  text-shadow: 0px 2px 5px brown;
}

iframe {
  border-radius: 25px;
  box-shadow: 0px 10px 15px brown;
  height: 250px;
  width: 450px;
}

h2 {
  font-family: arial;
  font-size: 25pt;
  color: white;
  text-shadow: 0px 2px 5px brown;
  margin: 0 20px auto;
}

li {
  font-family: arial;
  color: white;
  text-shadow: 0px 2px 5px brown;
}

.overview {
  margin-left: 25%;
  margin-right: 25%;
  text-shadow: 0px 2px 5px brown;
  text-align: center
}

.disneyplus {
  width: 150px;
  position: relative;
  bottom: -22px
}

.custom-rating {
  margin-left: 15px;
}

.g-rating {
  position: relative;
  bottom: -3px;
  width: 20px;
  box-shadow: 0px 2px 5px brown;
}

.pg-rating {
  position: relative;
  bottom: -3px;
  width: 30px;
  box-shadow: 0px 2px 5px brown;
}

@media screen and (min-width: 800px) {
  .disney {
    position: relative;
    top: -15px;
    width: 300px;
  }

  iframe {
    height: 420px;
    width: 750px;
  }
}

@media screen and (min-width: 1000px) {
  .disney {
    position: relative;
    top: -25px;
    width: 400px;
  }

  .tarzan-logo {
    position: relative;
    top: -80px;
    height: 300px;
    width: 500px;
  }

  iframe {
    height: 500px;
    width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .disney {
    position: relative;
    top: -40px;
    width: 500px;
    margin: 0 auto;
  }

  .tarzan-logo {
    position: relative;
    top: -80px;
  }
}