html {
  margin: 0;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.random_bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

b {
  font-family: arial;
  font-size: 50pt;
  color: white;
  text-shadow: 0px 2px 5px green;
}